.elementor-2 .elementor-element.elementor-element-5438ecd1 {
  padding: 0px 0px 30px 0px;
}
.elementor-2
  .elementor-element.elementor-element-34e414b1
  > .elementor-element-populated {
  margin: -150px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-92ea24d
  .dsvy-ele-header-area {
  text-align: left;
}
.elementor-2 .elementor-element.elementor-element-74a6ab99 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #e8e8e8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 070px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-74a6ab99
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-20ad1634
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-2
  .elementor-element.elementor-element-21eeb08a
  .dsvy-heading-subheading {
  text-align: center;
}
.elementor-2 .elementor-element.elementor-element-767c4cb9 {
  margin-top: -30px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-b0f563
  > .elementor-element-populated {
  padding: 90px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-d50eba1
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-12921e00
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-1f454abf
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-2 .elementor-element.elementor-element-2edb5fa8 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-4012d197
  > .elementor-element-populated {
  padding: 90px 0px 0px 30px;
}
.elementor-2
  .elementor-element.elementor-element-65419689
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-3dfd7633
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-6d9dd673:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-6d9dd673
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://cardioly-demo.pbminfotech.com/demo3/wp-content/uploads/sites/4/2020/10/dot-white-map-01.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.elementor-2 .elementor-element.elementor-element-6d9dd673 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 30px 0px;
  z-index: 2;
}
.elementor-2
  .elementor-element.elementor-element-6d9dd673
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-35af57c9
  > .elementor-element-populated {
  margin: 0px 25px 0px 15px;
  --e-column-margin-right: 25px;
  --e-column-margin-left: 15px;
}
.elementor-2 .elementor-element.elementor-element-6b9f8cd9 {
  margin-top: -40px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-41b01fd
  > .elementor-element-populated,
.elementor-2
  .elementor-element.elementor-element-41b01fd
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-2
  .elementor-element.elementor-element-41b01fd
  > .elementor-background-slideshow {
  border-radius: 6px 6px 6px 6px;
}
.elementor-2
  .elementor-element.elementor-element-41b01fd
  > .elementor-element-populated {
  margin: 0px 15px -140px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
  padding: 40px 50px 0px 50px;
}
.elementor-widget-heading .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-2
  .elementor-element.elementor-element-55599d75
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-55599d75 {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-55599d75
  .elementor-heading-title {
  color: #ffffff;
  font-size: 26px;
  line-height: 36px;
}
.elementor-2 .elementor-element.elementor-element-755ff668 {
  padding: 40px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-2ac89bb2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-2ac89bb2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://cardioly-demo.pbminfotech.com/demo3/wp-content/uploads/sites/4/2020/10/step-counter-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.elementor-2 .elementor-element.elementor-element-2ac89bb2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 70px 0px;
}
.elementor-2
  .elementor-element.elementor-element-2ac89bb2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-6a523f70
  .dsvy-ele-header-area {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-5bc4ef01
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2 .elementor-element.elementor-element-5bc4ef01 {
  padding: 100px 0px 100px 0px;
}
.elementor-2
  .elementor-element.elementor-element-361eaa60
  > .elementor-element-populated {
  padding: 0px 35px 0px 15px;
}
.elementor-2
  .elementor-element.elementor-element-26cd9a6d
  .dsvy-heading-subheading {
  text-align: left;
}
.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-2
  .elementor-element.elementor-element-267bdf02
  > .elementor-widget-container {
  margin: -50px 0px 20px 0px;
}
.elementor-2
  .elementor-element.elementor-element-6ffeab0b
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-20ddf093
  > .elementor-element-populated {
  padding: 0px 10px 0px 10px;
}
.elementor-2
  .elementor-element.elementor-element-fd71f88
  .dsvy-ele-header-area {
  text-align: left;
}
.elementor-2 .elementor-element.elementor-element-3438daaa {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #e2e2e2;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 30px 0px;
}
.elementor-2
  .elementor-element.elementor-element-3438daaa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-47f73c85
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-2
  .elementor-element.elementor-element-3f36b256
  .dsvy-ele-header-area {
  text-align: left;
}
.elementor-2 .elementor-element.elementor-element-3a076056 {
  padding: 100px 0px 20px 0px;
}
.elementor-2
  .elementor-element.elementor-element-6f8e38bb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-175ebea0
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2 .elementor-element.elementor-element-175ebea0 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.elementor-2
  .elementor-element.elementor-element-c2033b3
  .dsvy-heading-subheading {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-56f03863
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-2
  .elementor-element.elementor-element-6c554f05
  .dsvy-ele-header-area {
  text-align: left;
}
@media (max-width: 1024px) {
  .elementor-2 .elementor-element.elementor-element-5438ecd1 {
    padding: 0px 0px 20px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-34e414b1
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-2 .elementor-element.elementor-element-74a6ab99 {
    padding: 70px 0px 80px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-20ad1634
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-b0f563
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-4012d197
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-6d9dd673 {
    padding: 80px 0px 0px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-35af57c9
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-41b01fd
    > .elementor-element-populated {
    margin: 0px 0px -110px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 55px 20px 0px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-755ff668 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 15px 0px 15px;
  }
  .elementor-2 .elementor-element.elementor-element-2ac89bb2 {
    padding: 80px 0px 40px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-4bd97ca4
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-2 .elementor-element.elementor-element-5bc4ef01 {
    padding: 70px 0px 70px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-361eaa60
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-2 .elementor-element.elementor-element-26cd9a6d {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }
  .elementor-2
    .elementor-element.elementor-element-26cd9a6d
    > .elementor-widget-container {
    padding: 0px 15px 0px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-267bdf02 {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }
  .elementor-2
    .elementor-element.elementor-element-267bdf02
    > .elementor-widget-container {
    margin: -25px 0px 0px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-32c98e5f {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }
  .elementor-2 .elementor-element.elementor-element-6ffeab0b {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }
  .elementor-2
    .elementor-element.elementor-element-6ffeab0b
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-20ddf093
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-2 .elementor-element.elementor-element-3a076056 {
    padding: 70px 0px 0px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-6f8e38bb
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
}
@media (max-width: 767px) {
  .elementor-2 .elementor-element.elementor-element-5438ecd1 {
    padding: 50px 0px 20px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-34e414b1
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2 .elementor-element.elementor-element-74a6ab99 {
    padding: 50px 0px 50px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-1f454abf
    > .elementor-element-populated {
    padding: 30px 0px 30px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-6d9dd673 {
    padding: 60px 15px 0px 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-35af57c9
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-41b01fd
    > .elementor-element-populated {
    margin: 10px 0px -100px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 40px 35px 0px 35px;
  }
  .elementor-2 .elementor-element.elementor-element-755ff668 {
    margin-top: 060px;
    margin-bottom: 0px;
    padding: 80px 15px 0px 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-48b5321d
    > .elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-2 .elementor-element.elementor-element-2ac89bb2 {
    padding: 50px 0px 30px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-5bc4ef01 {
    padding: 50px 0px 20px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-26cd9a6d {
    width: 100%;
    max-width: 100%;
  }
  .elementor-2
    .elementor-element.elementor-element-26cd9a6d
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-267bdf02 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-2
    .elementor-element.elementor-element-267bdf02
    > .elementor-widget-container {
    margin: -50px 0px 20px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-32c98e5f {
    width: 100%;
    max-width: 100%;
  }
  .elementor-2 .elementor-element.elementor-element-6ffeab0b {
    width: 100%;
    max-width: 100%;
  }
  .elementor-2
    .elementor-element.elementor-element-6ffeab0b
    > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-3a076056 {
    padding: 50px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-2 .elementor-element.elementor-element-b0f563 {
    width: 26.417%;
  }
  .elementor-2 .elementor-element.elementor-element-1f454abf {
    width: 42.083%;
  }
  .elementor-2 .elementor-element.elementor-element-4012d197 {
    width: 31.164%;
  }
  .elementor-2 .elementor-element.elementor-element-35af57c9 {
    width: 58%;
  }
  .elementor-2 .elementor-element.elementor-element-41b01fd {
    width: 42%;
  }
  .elementor-2 .elementor-element.elementor-element-7e4fbef {
    width: 30%;
  }
  .elementor-2 .elementor-element.elementor-element-48b5321d {
    width: 31.205%;
  }
  .elementor-2 .elementor-element.elementor-element-6a959412 {
    width: 38.127%;
  }
  .elementor-2 .elementor-element.elementor-element-361eaa60 {
    width: 35%;
  }
  .elementor-2 .elementor-element.elementor-element-20ddf093 {
    width: 64.665%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-2 .elementor-element.elementor-element-b0f563 {
    width: 31%;
  }
  .elementor-2 .elementor-element.elementor-element-1f454abf {
    width: 37%;
  }
  .elementor-2 .elementor-element.elementor-element-35af57c9 {
    width: 65%;
  }
  .elementor-2 .elementor-element.elementor-element-41b01fd {
    width: 35%;
  }
  .elementor-2 .elementor-element.elementor-element-7e4fbef {
    width: 32%;
  }
  .elementor-2 .elementor-element.elementor-element-48b5321d {
    width: 33.89%;
  }
  .elementor-2 .elementor-element.elementor-element-361eaa60 {
    width: 100%;
  }
  .elementor-2 .elementor-element.elementor-element-20ddf093 {
    width: 100%;
  }
}
